#quartenary{
    display: flex;
    flex-direction: column;
    height: 800px;
    background: url(../assets/img/Background_Contacts.png);
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

    .footer-span{
        color: var(--color-purple);
    }

    .footer-h2{
        margin-top: 8px;
    }

    .footer-paragrafo{
        margin-top: 8px;
    }

    .footer-section{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        box-sizing: border-box;
        margin-top: 48px;

        .footer-figcaption{
            width: 400px;
            height: 68px;
            box-sizing: border-box;
            border-radius: 7px;
            background-color: var(--gray-400);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 20px;
            column-gap: 12px;

            .footer-redes-sociais{
                width: 28px;
                height: 28px;
                color: var(--gray-300);
            }

            .footer-englobar-paragrafo{
                width: 288px;
                height: 20px;
                text-align: left;
            }
        }
    }
}